@inherits LayoutComponentBase

<main class="main-container">
    <NavMenu />
    <div class="page-container">
        <TopBar />
        <div class="page-content">
            @Body
        </div>
    </div>
</main>

