<div class="top-bar">
    <button class="toggle-sidebar-button">
        <img src="./assets/bars.svg" width="28" height="28">
    </button>
    <span class="page-title">Menu Management</span>
    <button class="user">
        <img src="./assets/user.svg" width="28" height="28" alt="">
    </button>
</div>

@code {

}
