<div class="card-container">
    <Card
        title="Waffles"
        description="description for waffles here"
        imagePath="https://healthfulblondie.com/wp-content/uploads/2023/03/nutella-waffles.jpg"
    />

    <Card
        title="Waffles"
        description="description for waffles here"
        imagePath="https://healthfulblondie.com/wp-content/uploads/2023/03/nutella-waffles.jpg"
    />

    <Card
        title="Waffles"
        description="description for waffles here"
        imagePath="https://healthfulblondie.com/wp-content/uploads/2023/03/nutella-waffles.jpg"
    />

    <div class="card add-card-button">
        <img src="./icon.svg" width="150" alt="">
    </div>
</div>

@code {

}
