<div class="card">
    <div class="cover-container">
        <img class="cover" src="@imagePath" />
        <button class="edit-button">E</button>
    </div>
    <div class="title">@title</div>
    <div class="description">@description</div>
</div>


@code {
    [Parameter]
    public string title { get; set; } = "Unknown";

    [Parameter]
    public string description { get; set; } = "description missing";

    [Parameter]
    public string imagePath { get; set; } = "";
}
