<div class="category-container">
    <Category name="Breakfast" itemCount="15" />
    <Category name="Lunch" itemCount="5" />
    <Category name="Dinner" itemCount="8" />
    <button class="category add-category-button">
        <img src="./assets/icon.svg" alt="">
    </button>
</div>

@code {

}
