@using T2K_RestaurantManagement.Models
@using Microsoft.EntityFrameworkCore

@inject IDbContextFactory<Models.T2KDBContext> DbFactory
@inject IJSRuntime JS

<div class="category-container">
    @foreach (var category in categories)
    {
        <Category ThisCategory="@category" IsSelected="@(selectedCategoryId == category.Id)" OnSelect="HandleSelectCategory"/>
    }

    <button class="category add-category-button" @onclick="ToggleShowCreateModal">
        <img src="./assets/icon.svg" alt="">
    </button>
</div>

@if (showCreateModal)
{
    <div class="modal-shadow">
        <div class="modal-window">
            <div style="display:flex;justify-content:space-between">
                <span class="modal-title">Create category</span>
                <button @onclick="CancelCreateCategory">X</button>
            </div>
            <input type="text" placeholder="name" @bind="newCategoryName" />
            <button @onclick="CreateCategory">Create</button>
            @if (errorMsg != null)
            {
                <span>@errorMsg</span>
            }
        </div>
    </div>
}

@code {
    [Parameter]
    public EventCallback<int> OnSelectCategory { get; set; }

    private int? selectedCategoryId { get; set; }
    private List<Models.Category> categories = new();
    private Boolean showCreateModal = false;
    private string newCategoryName { get; set; } = "";
    private string? errorMsg { get; set; }

    private void ToggleShowCreateModal() => showCreateModal = !showCreateModal;

    protected override async Task OnInitializedAsync()
    {
        using var db = await DbFactory.CreateDbContextAsync();
        categories = await db.Categories.ToListAsync();
        System.Diagnostics.Debug.WriteLine($"Categories loaded {categories.Count}");
        //Console.WriteLine($"Categories loaded {categories.Count}");
    }

    private async Task HandleSelectCategory(int categoryId)
    {
        var selectedCategory = categories.FirstOrDefault(c => c.Id == categoryId);
        if (selectedCategory != null)
        {
            selectedCategoryId = selectedCategory.Id;
            await OnSelectCategory.InvokeAsync(selectedCategory.Id);
        }
    }


    private async Task CreateCategory()
    {
        if (string.IsNullOrWhiteSpace(newCategoryName))
        {
            errorMsg = "Category name cannot be empty.";
            return;
        }

        using var db = await DbFactory.CreateDbContextAsync();
        var newCategory = new Models.Category
        {
            Title = newCategoryName
        };

        try
        {            
            db.Categories.Add(newCategory);
            await db.SaveChangesAsync();
            categories.Add(newCategory);

            ResetVariables();

        } catch (Exception e)
        {
            await JS.InvokeVoidAsync("console.log", e.Message);
            await JS.InvokeVoidAsync("alert", "An error occurred while placing the order.");

        }
    }

    private void CancelCreateCategory()
    {
        ResetVariables();
    }

    private void ResetVariables()
    {
        newCategoryName = "";
        errorMsg = null;
        ToggleShowCreateModal();
    }
}

